@inherits LayoutComponentBase

<style> 
    html{
        background-color: white !important;
    }
</style>

<div class="page">
    <main>
        
        @Body
        
    </main>
    <RadzenNotification/>
</div>